body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 500px;
    height: 500px;
}

.info {
    height: 220px;
    border: solid #B72920 3px;
    overflow: scroll;
    padding: 15px;
}

img {
    width: 100%;
    display: block;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
}