* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* normalization ↑ */
body {    
    min-width: 992px;
    font-family: "Helvetica";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*  normalization ↑  */

#navbar {
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
}

#navbar .navbar-logo {
    display: inline-block;
}

#navbar .navbar-logo img {
    vertical-align: middle; /* 정렬 안해줄 시 로고가 위쪽으로 올라감 */
    width: auto;
    height: 20px;
}

#navbar .navbar-menu {
    float: right;
}

#navbar .navbar-menu li {
    float: right;               /* 해당 속성이 없을 시 navbar 에서 이미지 안으로 들어가 버림;; ??why?? */
    margin-left: 30px;
}

#navbar .navbar-menu a {
    color: #545454;
    font-size: 13px;
    font-weight: bold;
}

.hero-header img {
    width: 100%;
}

.main-title {
    margin: 60px 0;
    text-align: center;
    font-size: 24px;
    color: #545454;
    font-weight: bold;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 225px); /* 열 크기 및 라인 이름도 지정 가능 ex) [선이름] 열 크기 */
    grid-column-gap: 20px;     /* 열 사이의 간격 */
    grid-row-gap: 80px; /* 행 사이의 간격*/
    justify-content: center; /* 그리드 콘텐츠를 수평 정렬합니다. */
}

.product-list > .product-image, img {
    width: 225px;
}

.product-list .product-item {
    display: inline-block;
    color: #545454;
    font-size: 16px;
}

.product-list .product-content {
    text-align: center;
}

.product-list .product-title {
    margin-top: 20px;
}

.product-list .product-price {
    margin-top: 4px;
}

#footer {
    margin: 120px 0 80px;
}

.social-content {
    text-align: center;
}

.social-content .social-btn {
    width: auto;
    height: 25px;
}

.social-content .social-btn {
    margin-right: 20px;
}

.social-content .social-btn:last-child {
    margin-right: 0;
}